/* Poppins Google Fonts Imported Here */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

:root {
  --orange-one: #e76f51;
}

.bg-orange {
  background-color: var(--orange-one);
}
.text-orange {
  color: var(--orange-one);
}

.bg-header {
  background-color: #264653;
}

.active-honda-nav-item {
  border-bottom: 3px solid rgb(197, 33, 33) !important;
  color: rgb(248, 248, 248) !important;
}

.btn-all {
  background-color: var(--orange-one);
  padding: 0.5em 1.5em;
  border-radius: 5px;
  color: #fff;
}
.btn-hero {
  background-color: var(--orange-one);
  padding: 0.25em 1em;
  border-radius: 5px;
  color: #fff;
}

div div hr {
  padding-bottom: 0.1em;
  border: 1px, solid, var(--orange-one);
}
.grayscale-img {
  filter: grayscale(100%);
}

.star-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 0;
}

.star-list li {
  color: var(--orange-one);
}
.accordion-button:not(.collapsed) {
  color: #000;
  background-color: #fff;
  border: none;
  text-transform: uppercase;
  box-shadow: none;
}
